:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#app {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; */
}

.database {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin: 0 8px;
    max-height: 100vh;
    overflow-y: auto;
}

.setting {
    display: flex;
    flex-direction: row;
    padding: 4px 0;
}

.setting.setting-long {
    flex-direction: column;
    margin: 0;
}

.setting-label {
    display: flex;
    font-size: 1.2em;
    padding: 4px 0;
    align-items: center;
}

.setting-label button {
    margin: 4px;
}

.setting-label button:first-child {
    margin-left: 8px;
}

.setting-short .setting-label {
    min-width: 4em;
}

.setting-values {
    display: flex;
    margin: 0 4px;
    max-width: calc(100% - 8px);
}

.setting-long .setting-values {
    margin: 0;
    max-width: 100%;
}

.setting-values button {
    display: flex;
    flex: none;
    margin: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.setting-values button.setting-active {
    border: 1px solid white;
}

.setting-values label {
    align-self: center;
}

.setting-values input {
    /* font-size: 0.8em; */
    display: flex;
    flex: 1 1 auto;
    margin: 5px;
    padding: 1px 5px;
    max-width: 4em;
}

.setting-values input.short-input {
    max-width: 3em;
}

.right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-right: 8px;
}

.card {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 4px;
}

.editor {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.info {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-direction: row;
}

.info-item-long {
    display: flex;
    width: 40%;
}

.info-item {
    display: flex;
    width: 20%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* this next rule sets the editor size for codemirror 5 */

.CodeMirror.cm-s-cypher {
    min-width: 100%;
    height: 300px;
}

/* this next rule sets the editor size for codemirror 6 */

.cm-editor {
    min-width: 100%;
    height: 300px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.right button {
    font-size: 1em;
    padding: 0.6em 1.2em;
}
/* 
.left input {
    font-size: 0.8em;
    margin: 5px;
    padding: 1px 5px;
} */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
